/Anna_examples
/old_data
/plots
/saved_models
/training_data
/training_data_5Y
/training_data_Ann
/training_data_m
/training_data_m2
/training_data_v3
/training_data_v3_noAeroGP
/training_data_NorESM2
/resources
/logs
/presentations
/notebooks/experimenting
/code/before pert_region fix
/code/AeroGP_SVGP_latentfn_testing.ipynb
/code/AeroGP_SVGP_train_model_experimental.ipynb
/code/utils_GP_experimental.py
/code/utils_GP_dec.py
/code/__pycache__
/code/config_files/testing
/code/config_files/before_pertregion_fix
/manuscript
