/Anna_examples
/old_data
/plots
/saved_models
/training_data
/training_data_5Y
/training_data_Ann
/AMAP model details.docx
/AMAPdatabaseREADME.xlsx
/April21_results.pptx
/BC regional perturb and additive test.docx
/Climbench emulator trained with OC results.docx
/desktop.ini
/ESM_details_AMAP.docx
/Global_Temp_LinePlots_Abs_August2021.pdf
/GPtesting_Mar10.pptx
/IIASA_Emissions_All.xlsx
/Key aerosol species emisisons by continent4FORCES_v2(1).xlsx
/March26_results.pptx
/May 17 results.pptx
/ms_vonsalzen_v3c.docx
/NorESM2_emissions_methods.pdf
/NorForces meeting 13 sept 2022.pptx
/NorForces NKL presentation.pptx
/NorForces report 19 dec 2022_ae.docx
/PaperDraft_230830.docx
/ramip_t1_NorESMpgrid
/resultsMay5.pptx
/SO2 perturbation experiments.docx
/SO2_inputs.docx
/supplementary_materials_vonsalzen_v3.docx
/training_data_stats_Feb20.pptx
/training_data_stats_Feb23.pptx
/training_data_stats_Feb29.pptx
/Westerveld_etal_2020_RTP.xlsx
/resources