/Anna_examples
/old_data
/plots
/saved_models
/training_data
/training_data_5Y
/training_data_Ann
/training_data_m
/training_data_m2
/training_data_v3
/training_data_v3_noAeroGP
/training_data_NorESM2
/training_data_withzero
/ensemble_data
/resources
/logs
/presentations
/notebooks/experimenting
/notebooks/plotting_egu.ipynb
/notebooks/utils_GP.py
/notebooks/figure2_stats_lr_2.csv
/code/before pert_region fix
/code/AeroGP_SVGP_latentfn_testing.ipynb
/code/AeroGP_SVGP_train_model_experimental.py
/code/utils_GP_dec.py
/code/utils_GP.py
/code/__pycache__
/manuscript
/testing_data
/code/config_files/before_pertregion_fix
/code/config_files/testing
